@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
.clockDiv{
    /* background-color: brown; */
    max-width: 220px;
    display: grid;
    /* place-items: center; */
    /* display: flex;
    justify-content: center;
    align-items: center;
     */
    margin: auto 42% auto auto;
}
.clock{
    text-align: center;
    background-color: black;
    color: white;
    width: 100%;
    padding: 8% 1%;
    font-family: 'orbitron';
    border-radius: 8px;
    font-size: x-large;
  letter-spacing: 4px;
}